* {
  padding: 0vw;
  margin: 0vw;
}
header {
  height: 8vw;
  max-width: 100%;
  background-color: royalblue;
}

.symbole {
  width: 6vw;
  height: 6vw;
  padding: 1vw 0vw 1vw 4vw;
}

.menü {
  font-size: 5vw;
  padding: 1vw 1vw 1vw 1vw;
  width: 20vw;
  height: 6vw;
  // max-height: 2.604vw;
  background-color: salmon;
  float: right;
}

.menü span {
  font-family: sans-serif;
  color: white;
  margin: 0vw 0vw 0vw 3vw;
}

.container {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: stretch;
}

main img {
  grid-column: 1/4;
  grid-row: 1;
  opacity: 1;
}

main .info {
  grid-column: 1/2;
  grid-row: 1;
  float: left;
  background-color: darkblue;
  color: white;
  opacity: 0.5;
  padding: 5vw 5vw;
  line-height: 1;
}
